collection_database: './collectifor.db'
timeline_database: './timeline.duckdb'
init:
  # Populate checksums from files_and_dirs and add to collection databases
  # When false only checksums from "checksums/*.txt" content is added
  files_and_dirs_checksums: true
analysis:
  enable_yara: true
  enable_pattern: true
  enable_files: true
  enable_pcap: true
  yara: 
    rule_source: './source/yara'
    include_dirs: []
    exclude_dirs: []
  pattern: './source/patterns/' 
  files: './source/files/'
# API keys are only used by viewer's online tools
# Not used or attempted to use without user's UI interaction with the relevant tool page
api_keys:
  # https://www.virustotal.com/    
  virustotal: ''
  # https://ipinfo.io/
  ipinfo: ''
  # https://threatfox.abuse.ch/
  threatfox: ''
