altgraph==0.17.5
bleach==6.3.0
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
duckdb==1.4.3
Flask==3.1.2
greenlet==3.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.10
markup==0.2.2
MarkupSafe==3.0.3
numpy==2.4.0
packaging==25.0
pandas==2.3.3
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
scapy==2.7.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.45
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
webencodings==0.5.1
Werkzeug==3.1.4
yara-python==4.5.4
pygrok==1.0.0
